.App {
  min-height: 100vh;
  background-image: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li {
  list-style: none;
}

li .leftCard,
li .rightCard {
  border: 1px solid rgb(47, 37, 37);
  border-radius: 2px;
  padding: 20px;
}

li .leftCard {
  min-width: 50%;
}

li .rightCard {
  min-width: 50%;
}

.summary {
  position: absolute;
  bottom: 10%;
  right: 50%;
}
.column-3 {
  columns: 3;
}
